option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_migrate:
    command: |
      env # just to print out the env variables for checking in logs
      source $PYTHONPATH/activate
      django-admin.py migrate
    leader_only: true
  02_compilemessages:
    command: |
      env # just to print out the env variables for checking in logs
      source $PYTHONPATH/activate
      django-admin.py compilemessages