/* ========================================= 
=================== Nav ====================
========================================= */

.nav {
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav__header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(27, 27, 27);
    padding: 1rem;
}

.nav__title {
    color: #fff;
    font-style: italic;
}

.nav__tabs {
    display: flex;
    box-shadow: 0 5px 5px rgba(43, 43, 43, 0.4);
    color: black;
    background-color: white;

}

.nav__tab {
    height: 100%;
    width: 16.67%;
}

.nav__tab--inactive:hover {
    background-color: rgba(187, 187, 187, 0.5);
    transition: all 0.2s ease-in-out;
}

.nav__tab--active {
    color: #DB4222;
    background: linear-gradient(transparent 85%, #DB4222 15%);
}

a:-webkit-any-link {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    color: inherit;
    text-decoration: none;
}

/* ========================================= 
=================== Footer =================
========================================= */

.footer {
    background-color: rgb(27, 27, 27);
}

.footer__redirect {
    padding: 0.8rem;
    background-color: rgb(59, 55, 55);
    text-align: center;
    color: white;
    cursor: pointer;
}

.footer__bar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 2rem;
}

.footer__section {
    width: 20%;
}

.footer__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__inline {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__icon {
    color: rgb(172, 172, 172);
}

.footer__icon--location {
    font-size: 1.4rem;
}

.footer__icon--inline {
    font-size: 1.2rem;
}

.footer__icon--media {
    font-size: 2rem;
    margin-top: 5px;
    cursor: pointer;
}

.footer__icon--media:hover {
    color: white;
}

.footer__text {
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.footer__text--header {
    padding: 2rem 0;
    font-size: 1.3rem;
}

.footer__text--body {
    color: rgb(172, 172, 172);
    line-height: 22px;
}

.footer__text--link {
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.footer__text--link:hover {
    text-decoration: underline;
    color: white;
}

.footer__divider {
    border-top: 1px solid rgb(117, 117, 117);
    margin: 0.8rem 0 0.4rem 0;
    width: 100%;
}   

.footer__disclaimer {
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
}

.footer__text--disclaimer {
    padding: 2rem 0;
    color: white;
}  

.footer__text--disclaimer-link {
    cursor: pointer;
}

.footer__text--disclaimer-italic {
    font-style: italic;
}

.footer__text--disclaimer-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1600px) {
    .footer__bar {
        width: 90%;
    }
    
    .footer__disclaimer {
        width: 90%;
    }
}

@media screen and (max-width: 1250px) {
    .footer__bar {
        width: 95%;
    }
    
    .footer__disclaimer {
        width: 95%;
    }

    .footer__text {
        font-size: 0.8rem;
    }

    .footer__text--header {
        font-size: 1rem;
    }

    .footer__icon--media {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 950px) {
    .footer__text {
        font-size: 0.4rem;
    }

    .footer__text--header {
        font-size: 0.8rem;
    }

    .footer__section {
        width: 22%;
    }
}

@media screen and (max-width: 750px) {
    .footer__bar {
        flex-direction: column;
        width: 80%;
    }
    
    .footer__disclaimer {
        width: 80%;
    }
    
    .footer__section {
        width: 70%;
        margin: auto;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__text--disclaimer {
        padding: 1rem 0;
        color: white;
    }  
}