/* ========================================= 
=================== Nav ====================
========================================= */

.nav {
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav__header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(27, 27, 27);
    padding: 1rem;
}

.nav__title {
    color: #fff;
    font-style: italic;
}

.nav__tabs {
    display: flex;
    box-shadow: 0 5px 5px rgba(43, 43, 43, 0.4);
    color: black;
    background-color: white;

}

.nav__tab {
    height: 100%;
    width: 16.67%;
}


.nav__tab--inactive:hover {
    background-color: rgba(187, 187, 187, 0.5);
    transition: all 0.2s ease-in-out;
}

.nav__tab--active {
    color: #DB4222;
    background: linear-gradient(transparent 85%, #DB4222 15%);
}

a:-webkit-any-link {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    color: inherit;
    text-decoration: none;
}

/* ========================================= 
=================== Footer =================
========================================= */