.aboutpage {
    background-image: url('../../public/assets/images/about2.jpg');
    height: 0;
    padding-bottom: 66.67%;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
    .aboutpage {
        padding: 0;
        min-height: 800px;
        background-size: cover;
    }
}

/* ========================================= 
============== AboutMessage ================
========================================= */

.aboutmessage {
    position: relative;
}

.aboutmessage__loading-screen {
    height: 100vh;
    background-color: black;
}

.aboutmessage__image {
    display: block;
    width: 100%;
    user-select: none;
    min-height: 900px;
}

.aboutmessage__inline-image {
    height: 400px;
    object-fit: contain;
    user-select: none;
}

.aboutmessage__logo {
    position: absolute;
    top: -15%;
    opacity: 0;
    left: 6%;
    transition: all 0.8s ease-in-out;
}

.aboutmessage__icon-wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 1rem 2rem 0;
}

.aboutmessage__icon {
    font-size: 8rem;
    color: white;
}

.aboutmessage__header {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 1.2rem;
}

.aboutmessage__header--logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 0;
}

.aboutmessage__header--small {    
    font-size: 2.8rem;
}

.aboutmessage__header--smaller {    
    font-size: 2rem;
}

.aboutmessage__body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1rem;
    text-align: justify;
    line-height: 24px;
}

.aboutmessage__body--gray {
    color: rgb(190, 190, 190);
    padding-bottom: 0.4rem;
}

.aboutmessage__slogan-wrapper {
    width: 1000px;
    padding-right: 1rem;
}

.aboutmessage__banner {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: -1400px;
    top: 40%;
    opacity: 0;
    height: fit-content;
    width: 1400px;
    padding: 5.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
}

.aboutmessage__block-wrapper {
    width: 28%;
}

@media screen and (max-width: 1400px) {
    .aboutmessage__icon {
        font-size: 4rem;
    }

    .aboutmessage__header {
        font-size: 3rem;
    }
    
    .aboutmessage__header--small {    
        font-size: 2.3rem;
    }
    
    .aboutmessage__header--smaller {    
        font-size: 1.6rem;
    }

    .aboutmessage__slogan-wrapper {
        width: 100%;
    }

    .aboutmessage__banner {
        padding: 2rem;
        width: 100%;
        top: 32%;
    }
}

@media screen and (max-width: 1200px) {
    .aboutmessage__icon {
        font-size: 3.6rem;
    }

    .aboutmessage__icon-wrapper {
        padding-bottom: 1rem;
    }

    .aboutmessage__header {
        font-size: 2.4rem;
    }
    
    .aboutmessage__header--small {    
        font-size: 2rem;
    }
    
    .aboutmessage__header--smaller {    
        font-size: 1.4rem;
    }

    .aboutmessage__body {
        font-size: 0.6rem;
    }

    .aboutmessage__block-wrapper {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .aboutmessage {
        height: calc(100vh - 80px);
    }

    .aboutmessage__banner {
        top: 28%;
        padding: 3rem;
        flex-direction: column;
        max-height: 400px;
        overflow-y: scroll;
        text-align: center;
        gap: 50px;
    }

    .aboutmessage__block-wrapper {
        width: 100%;
    }
    
    .aboutmessage__body--gray {
        text-align: center;
    }

    .aboutmessage__icon {
        font-size: 2.4rem;
    }

    .aboutmessage__header {
        font-size: 1.4rem;
    }
    
    .aboutmessage__header--small {    
        font-size: 1.2rem;
        text-align: justify;
    }
}