.cartpage {
    display: flex;
    width: 1400px;
    margin: auto;
    padding: 2rem;
    gap: 30px;
}

@media screen and (max-width: 1400px) {
    .cartpage {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .cartpage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .cartpage {
        padding: 1rem;
    }
}

/* ========================================= 
================ CartItem ==================
========================================= */

.cartitem {
    width: 65%;
}

.cartitem__promotion {
    padding: 1.2rem;
    border: 1px solid rgb(206, 206, 206);
    line-height: 26px;
}

.cartitem__header {
    color: #DB4222;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.cartitem__body {
    color: black;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.cartitem__body--gray {
    color: rgb(97, 97, 97);
}

.cartitem__body--hightlight {
    color: #DB4222;
}

.cartitem__items {
    padding: 2rem 0;
}

.cartitem__items-header-wrapper {
    display: flex;
    align-items: center;
    padding: 0.6rem 0 0.6rem 1.2rem;
    background-color: rgb(134, 44, 26);
}

.cartitem__header--white {
    color: white;
}

.cartitem__header--end {
    color: white;
    border-left: 2px solid white;
}

.cartitem__empty-cart {
    padding: 1rem;
    font-size: 1.2rem;;
    color: rgb(87, 87, 87);
}

.cartitem__icon {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.cartitem__link {
    color: black;
}

.cartitem__link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cartitem__item {
    display: flex;
    margin: 2rem 0;
}

.cartitem__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    width: 18%;
    min-height: 100px;
    min-width: 100px;
}

.cartitem__image {
    position: relative;
    padding: 1.8rem;
    height: 140px;
    width: 100%;
    object-fit: contain;
    z-index: -1;
    user-select: none;
}

.cartitem__description {
    display: flex;
    padding-left: 2rem;
    justify-content: center;
    flex-direction: column;
    width: 62%;
    gap: 12px;
}

.cartitem__header--black {
    color: black;
}

.cartitem__divider {
    margin: -8px 0 0 0;
}

.cartitem__divider--primary {
    border-top: 2px solid #DB4222;
}

.cartitem__divider--secondary {
    margin: 0;
    border-top: 1px solid rgb(202, 202, 202);
}

.cartitem__figure--wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cartitem__input-flexbox {
    display: flex;
    position: relative;
    border-radius: 10px;
    align-items: center;
}

.cartitem__button {
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    cursor: pointer;
}

.cartitem__button--decrement {
    position: absolute;
    border-radius: 5px 0 0 5px;
    width: 18px;
    height: 18px;
    left: 0;
}

.cartitem__button--increment {
    position: absolute;
    border-radius: 0 5px 5px 0;
    width: 18px;
    height: 18px;
    right: 0;
}

.cartitem__button--decrement:hover,
.cartitem__button--increment:hover {
    background-color: rgb(221, 221, 221);
}

.cartitem__button--decrement:active,
.cartitem__button--increment:active {
    background-color: rgb(189, 189, 189);
}

.cartitem__input {
    height: 18px;
    flex-grow: 2;
    border-radius: 5px;
    border: 1px solid gray;
    width: 70px;
    padding: 0 18px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cartitem__action-wrapper {
    width: fit-content;
    margin-left: auto;
}

.cartitem__body--action {
    color: gray;
    text-decoration: underline;
}

.cartitem__body--action:hover {
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.cartitem__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 20%;
}

.cartitem__body--heavy-highlight {
    color: #DB4222;
    font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
    .cartitem {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .cartitem {
        width: 100%;
    }

    .cartitem__header {
        font-size: 1rem;
    }

    .cartitem__body {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .cartitem__header--end {
        display: none;
    }

    .cartitem__description {
        padding-left: 1rem;
        width: 100%;
    }

    .cartitem__price {
        display: none;
    }
}

/* ========================================= 
============== CartSummary =================
========================================= */

.cartsummary {
    width: 35%;
}

.cartsummary__summary {
    background-color: rgba(207, 207, 207, 0.3);
    padding: 2rem;
    border-radius: 5px;
}

.cartsummary__header {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}

.cartsummary__body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.cartsummary__body--disable {
    text-decoration: line-through 2px;
}

.cartsummary__body--active {
    color: #DB4222;
}

.cartsummary__divider {
    margin: 12px 0;
}

.cartsummary__divider--primary {
    border-top: 2px solid #DB4222;
}

.cartsummary__divider--secondary {
    border-top: 2px solid rgb(182, 182, 182);
    margin: 8px 0;
}

.cartsummary__subtotal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.cartsummary__button {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background-color: #862C1A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.cartsummary__button:hover {
    cursor: pointer;
    background-color: #a34a38;
}

.cartsummary__button:disabled,
.cartsummary__button:disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

.cartsummary__payment {
    background-color: rgba(207, 207, 207, 0.3);
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}

.cartsummary__input-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cartsummary__input {
    width: 100%;
    height: 34px;
    padding: 0.4rem;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

.cartsummary__input--long {
    width: 72%;
}

.cartsummary__input--custom-placeholder:not(:placeholder-shown)+.cartsummary__placeholder-icon {
    display: none;
}

.cartsummary__input--short {
    width: 25%;
    text-align: center;
}

.cartsummary__placeholder-icon {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 15px;
    left: 10px;
    color: rgb(117, 117, 117);
    font-size: 14px;
    pointer-events: none;
}

.cartsummary__icon-wrapper {
    display: flex;
    justify-content: space-between;
}

.cartsummary__icon {
    font-size: 3rem;
    color: gray;
}

.cartsummary__icon:hover {
    cursor: pointer;
    color: black;
}

.cartsummary__spinner {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.cartsummary__spinner div {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.cartsummary__spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.cartsummary__spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.cartsummary__spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {
    .cartitem__image {
        padding: 1rem;
    }

    .cartsummary__icon {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .cartitem__image {
        padding: 0.6rem;
    }

    .cartsummary__icon {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .cartsummary {
        width: 80%;
    }

    .cartsummary__icon-wrapper {
        justify-content: center;
        gap: 20px;
    }

    .cartsummary__icon {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 800px) {
    .cartsummary {
        width: 100%;
    }

    .cartitem__price {
        padding: 0;
    }
}