.homepage {
    width: 1500px;
    margin: auto;
}

/* ========================================= 
================ Slider ====================
========================================= */

.slider {
    margin: auto;
    background-color: black;
    overflow: hidden;
}

.slider__canvas {
    position: relative;
    width: 760px;
    margin: auto;
}

.slider__slides {
    position: relative;
    display: flex;
    transition: 0.6s ease-in-out;
}

.slider__slide {
    width: 100%;
    filter: blur(6px) brightness(30%);
    transition: all 0.6s ease-in-out;
}

.slider__slide--active {
    filter: none;
}

.slider__slide--active:hover {
    filter: brightness(60%);
}

.slider__slide--inactive {
    cursor: pointer;
}

.slider__slide--inactive:hover {
    filter: blur(3px) brightness(60%);
}

.slider__texts {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 128px;
    background: linear-gradient(to left, transparent 50%, rgba(0, 0, 0, 0.75) 50%) right;
    background-size: 200% 100%;
    padding: 2.8rem 3.5rem;
    transition: all 0.6s ease-in-out;
}

.slider__texts--inactive {
    z-index: -1;
}

.slider__slide--active:hover+.slider__texts {
    background-position: left;
    height: 250px;
}

.slider__texts--active:hover {
    background-position: left;
    height: 250px;
}

.slider__text {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.slider__header {
    font-size: 2rem;
    color: white;
}

.slider__body {
    text-align: justify;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
}

.slider__quote {
    padding: 1rem 2rem;
    font-style: oblique;
    color: white;
}

.slider__slide--active:hover+.slider__texts--active .slider__text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.slider__texts:hover .slider__text {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.slider__checkboxs {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    gap: 5px;
}

.slider__checkbox {
    width: 5%;
    height: 4px;
    background-color: rgba(170, 170, 170, 0.6);
    font-size: 0;
    cursor: pointer;
}

.slider__input {
    display: none;
}

.slider__checkbox .slider__checkmark {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(170, 170, 170, 0.6) 50%, white 50%) right;
    background-size: 200% 100%;
}

.slider__input:checked+.slider__checkmark {
    background-position: left;
    transition: all 0.6s ease-in-out;
}

.divider {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0.8rem;
}

.divider__logo {
    margin-left: 5px;
    vertical-align: bottom;
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 1224px) {
    .slider__canvas {
        width: 650px;
    }

    .slider__header {
        font-size: 1.6rem;
    }

    .slider__body {
        font-size: 1rem;
    }

    .slider__quote {
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .slider__canvas {
        width: 100%;
    }

    .slider__texts {
        top: 0;
        height: 100%;
    }

    .slider__slide--active:hover+.slider__texts {
        height: 100%;
    }

    .slider__texts--active:hover {
        height: 100%;
    }

    .slider__texts {
        padding: 2rem;
    }
}

@media screen and (max-width: 570px) {
    .slider__header {
        font-size: 0.8rem;
    }

    .slider__body {
        font-size: 0.4rem;
    }

    .slider__quote {
        font-size: 0.4rem;
    }

    .divider {
        font-size: medium;
        padding: 0.6rem;
    }

    .divider__logo {
        width: 20px;
        height: 20px;
    }
}

/* ========================================= 
================ Billboard =================
========================================= */

.billboard {
    display: flex;
    justify-content: space-around;
    padding: 3.5rem 0;
    margin: 0 auto;
}

.billboard__category {
    display: flex;
    gap: 18px;
}

.billboard__icon {
    height: 110px;
    width: 110px;
    padding: 1.8rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(53, 53, 53)
}

.billboard__texts {
    width: 200px;
    height: 100px;
}

.billboard__header {
    font-size: 1.2rem;
}

.billboard__header--highlight {
    color: #DB4222;
}

.billboard__body {
    padding: 1rem 0;
    font-size: 0.8rem;
    text-align: justify;
}

.billboard__body--highlight {
    color: #DB4222;
    font-style: italic;
    padding: 1rem 0 0 0;
}

@media screen and (max-width: 1500px) {
    .homepage {
        width: 100%;
    }

    .billboard__header {
        padding-top: 1rem;
    }

    .billboard__category {
        display: inline-block;
        text-align: center;
    }

    .billboard__body--highlight {
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .billboard {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }

    .billboard__category {
        padding: 0rem 2rem 2rem 2rem;
    }

    .billboard__texts {
        width: auto;
        height: auto;
    }
}

/* ========================================= 
================ ImageBoard ================
========================================= */

.imageboard {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 1rem 0 4rem 0;
}

.imageboard__wrapper {
    position: relative;
    width: 49%;
}

.imageboard__image {
    border-radius: 1rem;
    width: 100%;
    filter: brightness(40%);
}

.imageboard__text {
    position: absolute;
    line-height: 24px;
    text-align: justify;
    color: white;
}

.imageboard__header {
    font-size: 1.8rem;
    font-weight: bolder;
    top: 20%;
    left: 10%;
}

.imageboard__body {
    width: 60%;
    top: 32%;
    left: 10%;
}

.imageboard__button {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 6px;
    font-weight: bold;
    padding: 1rem;
    top: 60%;
    left: 10%;
    cursor: pointer;
    background-color: transparent;
}

.imageboard__button--white {
    color: white;
    border: none;
    outline: 1px solid white;
}

.imageboard__button--white:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.imageboard__button--orange {
    color: white;
    background-color: #db4122e7;
    border: none;
}

.imageboard__button--orange:hover {
    background-color: #db4122b2;
}

.imageboard__icon {
    margin-left: 15px;
    margin-bottom: 1px;
    font-size: 1.1rem;
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1350px) {
    .imageboard {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 0;
    }

    .imageboard__wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .imageboard__text {
        line-height: 18px;
    }

    .imageboard__header {
        font-size: 1.4rem;
    }

    .imageboard__body {
        font-size: 0.8rem;
    }

    .imageboard__button {
        padding: 0.7rem;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 500px) {
    .imageboard__header {
        font-size: 1rem;
        top: 10%;
        left: 5%;
    }

    .imageboard__body {
        font-size: 0.6rem;
        top: 25%;
        left: 5%;
        width: 90%;
        line-height: 16px;
    }

    .imageboard__button {
        padding: 0.6rem;
        font-size: 0.4rem;
        top: 65%;
        left: 5%;
    }
}

/* ========================================= 
================ NewProducts ===============
========================================= */

.newproducts {
    margin: auto;
    margin-bottom: 3rem;
    width: 80%;
}

.newproducts__divider {
    text-align: center;
}

.newproducts__underline {
    height: 2px;
    width: 35px;
    background-color: #DB4222;
    margin: 8px auto;
}

.newproducts__cards {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.newproducts__card {
    width: 19%;
    background-color: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.newproducts__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* ========================================= 
================ WhyUs =====================
========================================= */

.whyus {
    width: 80%;
    margin: auto;
}

.whyus__about {
    text-align: center;
}

.whyus__underline {
    height: 2px;
    width: 50px;
    background-color: #DB4222;
    margin: 8px auto;
}

.whyus__body {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1.2rem auto 0 auto;
    padding: 1.6rem 2.4rem 1.2rem 2.4rem;
    text-align: justify;
    line-height: 22px;
}

.whyus__progress {
    display: flex;
}

.whyus__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0.8rem 0.8rem 0.8rem 1.3rem;
    font-size: 0.8rem;
}

.whyus__arrow {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    margin-right: -25px;
}

.whyus__arrow--odd {
    border-left: 25px solid #DB4222;
    z-index: 100;
}

.whyus__arrow--even {
    border-left: 25px solid black;
    z-index: 100;
}

.whyus__header--odd {
    background-color: #DB4222;
    color: white;
}

.whyus__header--even {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1550px) {
    .whyus__about {
        width: 100%;
    }

    .whyus__progress {
        width: 100%;
    }
}

@media screen and (max-width: 1260px) {
    .whyus__header {
        font-size: 0.6rem;
        padding: 0rem 0rem 0rem 1.8rem;
    }

    .whyus__arrow {
        margin-right: -27.795px;
        border-top: 27.795px solid transparent;
        border-bottom: 27.795px solid transparent;
    }

    .whyus__arrow--odd {
        border-left: 27.795px solid #DB4222;
    }

    .whyus__arrow--even {
        border-left: 27.795px solid black;
    }
}

@media screen and (max-width: 600px) {
    .whyus__header {
        padding: 0;
        text-align: center;
    }

    .whyus__arrow {
        display: none;
    }
}