.slider {
    margin: auto;
    background-color: black;
    overflow: hidden;
}

.canvas {
    position: relative;
    width: 40%;
    margin: auto;
}

.canvas__checkboxs {
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    text-align: center;
}

.canvas__checkbox {
    margin: 0px 1px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.slides {
    position: relative;
    display: flex;
    transition: 0.6s ease-in-out;
}

.slides__slide {
    width: 100%;
    filter: blur(6px) brightness(30%);
    transition: all 0.6s ease-in-out;
}

.slides__slide--active {
    filter: none;
}

.slides__slide--prev {
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.slides__slide--prev:hover {
    filter: blur(3px) brightness(60%);
}

.slides__slide--next {
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.slides__slide--next:hover {
    filter: blur(3px) brightness(60%);
}