.successpage {
    background-image: url('../../public/assets/images/success.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .successpage {
        background-size: cover;
    }
}

/* ========================================= 
============ SuccessMessage ================
========================================= */

.successmessage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 3rem;
    border-radius: 10px; 
    margin: auto;
    gap: 20px;
}

.successmessage__icon {
    font-size: 5rem;
    color: rgb(131, 179, 63);
}

.successmessage__header {
    color: white;
}

.successmessage__body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.successmessage__body--highlight:hover {
    cursor: pointer;
    text-decoration: underline;
}

.successmessage__hyperlink-wrapper {
    display: flex;
}

.successmessage__body--sep {
    margin: 0 5px;
}

@media screen and (max-width: 600px) {
    .successmessage {
        padding: 1.6rem;
    }

    .successmessage__header {
        font-size: 1.2rem;
    }

    .successmessage__body {
        font-size: 0.8rem;
    }
}