.successpage {
    background-image: url('../../public/assets/images/success.jpg');
    height: 0;
    padding-bottom: 66.67%;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
    .successpage {
        padding: 0;
        min-height: calc(100vh - 80px);
        background-size: cover;
    }
}

/* ========================================= 
============ SuccessMessage ================
========================================= */

.successmessage {
    position: relative;
}

.successmessage-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    gap: 20px;
    padding: 3rem;
    width: 500px;
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.7);
}

.successmessage__icon {
    font-size: 5rem;
    color: rgb(131, 179, 63);
}

.successmessage__header {
    color: white;
}

.successmessage__body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.successmessage__body--highlight:hover {
    cursor: pointer;
    text-decoration: underline;
}

.successmessage__hyperlink-wrapper {
    display: flex;
}

.successmessage__body--sep {
    margin: 0 5px;
}

@media screen and (max-width: 600px) {
    .successmessage-wrapper {
        width: 100% ;
    }

    .successmessage {
        padding: 1.6rem;
    }

    .successmessage__header {
        font-size: 1.2rem;
    }

    .successmessage__body {
        font-size: 0.8rem;
    }
}