* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    padding: 1rem;
    gap: 5rem;
    background-color: azure;
}

.nav__logo {
    font-family: 'Courier New', monospace;
    font-style: italic;
    color: rgb(23, 58, 122);
}
